__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.log
.git
.gitignore
images/*
!images/.gitkeep
flux/images/*
!flux/images/.gitkeep
oauth/images/*
!oauth/images/.gitkeep
flux/api/__pycache__/*
!flux/api/__pycache__/.gitkeep
flux/api/instance/*
!flux/api/instance/.gitkeep
flux/api/tmp/*
!flux/api/tmp/.gitkeep
oauth/api/__pycache__/*
!oauth/api/__pycache__/.gitkeep
oauth/api/instance/*
!oauth/api/instance/.gitkeep
